<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="{{ prof.picture.url }}" style="height:300px;">
        </div>
        <div class="col-md-8">
            <h3>About Me</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <h5>Name: {{prof.first_name}} {{prof.last_name}}</h5>
                    <br>
                    <h5>Contact: {% if prof.phone %}{{prof.phone}}{% else %}No Contact{% endif %} </h5>
                    <br>
                    <h5>{{prof.about}}</h5> 
                    <br>
                </div>
                <div class="col-md-6">
                    <h5>Age: {{prof.age}}</h5>
                    <br>
                    <h5>Hobby: {{prof.Hobbies}}</h5>
                    <br>
                    <h5>Location: {{prof.country}}</h5>
                    <br>
                </div>
            </div>

        </div>
    </div>
</div>