{% extends 'base.html' %}
{% load static %}

{% block body %}
<div style="margin: 200px 450px;">
            <form action="" method="post">
                {% csrf_token %}
                <div data-validate="Enter email" style="margin-bottom: 20px;">
                    Email:
					<input type="email" name="email" placeholder="{{ form.email.label }}">
                </div>
                
				<div data-validate = "Enter password" style="margin-bottom: 20px;">
                    Password:
					<input type="password" name="password" id="password" placeholder="{{ form.password.label }}">
				</div>

                <input type="submit" value="Log in">
            </form>
</div>
{% endblock %}

