{% if request.user.user_profile == prof %}

    {% for r_requst in received_friend_request %}
        <a href="{{ r.request.from_user.profile.get_absolute_url }}">{{ r.request.from_user.profile }}</a>
        <a class="btn btn-primary" href="{% url 'profiles:accept_friend_request' pk ">Accept</a>    
    {% endfor %}

{% else %}

    {% if  button_status == 'not friend' %}
        <a class="btn btn-primary" href="{% url 'profiles:send_friend_request' pk ">Send</a>    
    {% elif button_status == 'friend_request_sent' %}
        <a class="btn btn-primary" href="{% url 'profiles:cancel_friend_request' pk ">Cancel</a>    
    {% endif %}


{% endif %}
 
            