{% extends 'base.html' %}
{% load static %}
{% block title %} - {{post.id}} - {{post.profile}}{% endblock title %}

{% block body %}
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="staticBackdropLabel">Post</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="{% url 'profiles:create_post' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{{ p_form.caption }}
					<br>
					Images: {{ p_form.images}}
					<br>
				
					<div class="modal-footer">
						<button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
						<button class="btn btn-success" type="submit" style="width: 60px;">Post</button>					
					</div>
				</form>
			</div>			
		</div>
	</div>
</div>
{% endblock body %}
